@if (loggedUser) {
  <button (click)="logout()">Déconnexion</button>&nbsp;
  <span>{{ loggedUser.firstname }} {{ loggedUser.lastname }}</span>
  @if (isAdmin) {
    <span>&nbsp;(Admin)</span>
  }
} @else {
  <button (click)="login()">Connexion</button>
}

<hr>

<ul>
  @if (canGoToAdminPage) {
    <li><a routerLink="admin">Admin</a></li>
  }

  @if (canGoToUserPage) {
    <li><a routerLink="user">User</a></li>
  }
</ul>

<hr>

<router-outlet/>
